{% extends 'care_dash.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Patient Details | Careline</title>
    {% endblock %}
    
</head>
<body>
    {% block dash %}
    <h1 class="text-primary">Patient Details</h1>
    <div class="row container" style="width: 90%;">
        <table class="table table-bordered m-5 text-light" style="background-color:rgba(0, 0, 0, 0.313);">
            <tr>
                <td colspan="4">
                    <h1>{{ pt.first_name }} {{ pt.last_name }}</h1>
                </td>
            </tr>
            <tr>
                <td><h3>Email :</h3></td>
                <td colspan="3"><h2>{{ pt.email }}</h2></td>       
            </tr>
            <tr>
                <td><h3>Phone :</h3></td>
                <td><h2>{{ pt.phone }}</h2></td>
                <td><h3>Date of Birth :</h3></td>
                <td><h2>{{ pt.d_o_b }}</h2></td>
            </tr>
            <tr>
                <td colspan="1"><h3>Address :</h3></td>
                <td colspan="3"><h2>{{ pt.address }}</h2></td>
            </tr>
            <tr>
                <td><h3>Doctor :</h3></td>
                <td><h2>{{ pt.dr_name }}</h2></td>
                <td><h3>District :</h3></td>
                <td><h2>{{ pt.dist }}</h2></td>
            </tr>

        </table>
    </div>

    {% endblock %}
</body>
</html>