{% extends 'cms_dash.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Edit Profile</title>
    {% endblock %}
</head>
<body>
    {% block dash %}
    <div class="container">
        <table class="table table-hover text-light bg-transparent table-borderless">
            <form action="" method="post" class="form m-5">
                {% csrf_token %}
                <tr>
                    <td><label for="mname">Medicine Name</label></td>
                    <td><input type="text" placeholder="Enter Medicine Name Manually" name="mname" id="" class="form-control" value=""></td>
                </tr>
                <tr>
                    <td><label for="mtype">Medicine Category</label></td>
                    <td>
                        <select name="mtype" id="" class="form-control">
                            <option value="" selected disabled>Select Medicine Category</option>
                            {% for i in med %}
                                <option value="{{ i }}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center"><input type="submit" value="Add Medicine" class="btn btn-success"></td>
                </tr>
        
        
            </form>
            </table>
    </div>
    {% endblock %}
    
</body>
</html>